body {
  font-family: "Sofia", sans-serif;
  margin: 0;
  background-color: skyblue;
}
img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
header {
  background-color: deepskyblue;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
}
.searchInput{

}
.sidebar{
  margin-left: auto;
}
ul {
  list-style-type: -moz-gujarati;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: deepskyblue;
  height: 100%;
  position: absolute;
  overflow: visible;
  .dropdown{
    display: block;
    padding: inherit;
  }
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.glyphicon-camera{

}



